body {
    background-color: rgb(255, 255, 165);
}

.image{
    border: 5px solid green;
    border-radius: 10px;
    height: 400px;
}

.link-button {
     text-decoration: none;
  width: 150 px;
  height: 60 px;
  border: 3px solid black;
  border-radius: 35px;
  transition: all 0.3s;
  cursor: pointer;
  background: white;
  color: black;
  font-size: 1 em;
  font-weight: 550;
  font-family: Arial, Helvetica, sans-serif;
}

.link-button:hover{
     text-decoration: none;
     background: black;
  color: white;
  font-size: 1.1em;
}
